@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%; 
    --main_color:#ffff;
    --title:'Josefin Sans', sans-serif;
    --font-para:'David Libre', serif;
    --btn-color:#e4efcfc9;
    --btn-font-color:#000;
    --btn-font:1.5rem;
    --eff:.3s all ease;

}
*{
    font-family:var(--font-para);
}
 html{
    /* 62.5=10px */
    font-size:62.5%
 }
 p,
label,
input::placeholder {
    font-size: 1.9rem;
    line-height: 170%;
    color: #6c757d;
}

figure img,
.fab {
    transition: var(--eff);
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}
body{
    background: hsl(84, 3%, 94%);
}
.main_heading {
    font-family: var(--title);
    font-weight: bold;
    font-size: 5rem;
    color: #1b262c;
}

.main_heading__para {
    font-size: 2.2rem;
}
.main_header__div{
    height:calc(100vh - 40vh);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)), url('https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: var(--bg-size);
}
.main_header__div p {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: var(--title);
    color: var(--main-color);
    padding-bottom: 0rem;
}

.main_header__div h2 {
    font-size: 6.5rem;
    font-weight: bold;
    font-family: var(--title);
    color: var(--main-color);
    padding-bottom: 2rem;
    position: relative;
    transition: var(--eff);
}